@media (max-width: 1024px) {
  .cv {
    max-width: 90%;
  }

  .avatar {
    width: 160px;
    height: 160px;
    margin-top: 20px;
  }

  .avatar-image {
    width: 150px;
    height: 150px;
  }

  .soft__title,
  .contacts__title,
  .lang__title {
    font-size: 14px;
  }

  .soft-list {
    margin-left: 0px;
    font-size: 14px;
    line-height: 15px;
  }

  .contacts-upper__title {
    line-height: 14px;
  }

  .contacts-info {
    gap: 10px;
  }

  .contacts-info-link {
    font-size: 12px;
    font-weight: 600;
  }

  .contacts-info-img {
    margin-left: 5px;
  }

  .header {
    margin: 8% 0 7.5% 0;
  }

  .header__title {
    font-size: 24px;
  }

  .header-prof {
    font-size: 16px;
  }

  .about,
  .skills,
  .education,
  .work {
    padding: 10px 20px;
  }

  .about__title,
  .skills__title,
  .education__title,
  .work__title {
    font-size: 14px;
  }

  .skills-list,
  .education-list {
    font-size: 12px;
  }

  .education-list,
  .work-list {
    line-height: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .cv {
    max-width: 98%;
  }

  .cv-left {
    width: 30%;
  }

  .avatar {
    width: 110px;
    height: 110px;
    margin: 20px auto 0 auto;
  }

  .avatar-image {
    width: 100px;
    height: 100px;
    background-size: cover;
  }

  .soft,
  .contacts,
  .lang {
    margin-left: 5px;
  }

  .soft-list {
    padding: 30px 0 10px 0;
  }

  .soft-item {
    font-size: 12px;
    margin-bottom: 14px;
    line-height: 16px;
  }

  .contacts-upper__title {
    font-size: 12px;
    line-height: 10px;
  }

  .contacts-list {
    margin-left: 0;
  }

  .contacts-info {
    width: 100%;
    text-align: left;
    display: block;
  }

  .contacts-info-link {
    gap: 10px;
  }

  .contacts-info-image {
    margin-left: 5px;
    width: 20px;
    height: 20px;
  }

  .contacts-info-text {
    height: 100%;
    font-size: 9px;
  }

  .lang-list {
    font-size: 12px;
  }

  .cv-right {
    width: 70%;
  }

  .header {
    margin: 8% 0 5% 0;
  }

  .header__title {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .header-prof {
    font-size: 12px;
  }

  .header-background {
    top: 42px;
    height: 40px;
  }

  .about,
  .education,
  .work {
    padding: 10px 20px;
  }

  .about__title,
  .education__title,
  .work__title {
    font-size: 14px;
  }

  .about-text,
  .education-list,
  .work-text {
    padding-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .education-images__img {
    width: 100px;
    height: 70px;
  }
}

@media (max-width: 450px) {
  .cv-left {
    width: 33%;
  }

  .avatar {
    margin: 0 auto;
    width: 85px;
    height: 85px;
  }

  .avatar-image {
    width: 80px;
    height: 80px;
  }

  .soft__title,
  .contacts__title,
  .lang__title {
    font-size: 10px;
  }

  .soft-item {
    font-size: 10px;
  }

  .contacts {
    margin-top: 10px;
  }

  .contacts-upper-square {
    display: none;
  }

  .contacts-upper__title {
    font-size: 9px;
    line-height: 10px;
  }

  .contacts-info-link {
    gap: 5px;
  }

  .contacts-info-image {
    display: none;
  }

  .contacts-info-text {
    font-size: 9px;
    line-height: 12px;
  }

  .lang-list {
    margin-left: 0;
    font-size: 10px;
  }

  .cv-right {
    width: 67%;
  }

  .header {
    margin: 0;
  }

  .header__title {
    font-size: 18px;
  }

  .header-prof {
    font-size: 10px;
  }

  .about__title,
  .skills__title,
  .education__title,
  .work__title {
    font-size: 10px;
  }

  .about-text,
  .skills-list,
  .education-list,
  .work-text {
    padding-top: 10px;
    font-size: 10px;
    line-height: 16px;
  }

  .education-images__img {
    width: 80px;
    height: 50px;
  }
}
