:root {
  --base-color: #1d1d1b;
  --second-color: #ececec;
  --yellow-color: #fec72f;
  --background-color: #cbc7c7;
  --shadow-color: #888585;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--base-color);
  background-color: var(--background-color);
}

.cv {
  margin: 2% auto 2% auto;
  max-width: 1000px;
  display: flex;
  box-shadow: 0 10px 50px var(--shadow-color);
}

.cv-left {
  padding: 10px 0;
  width: 28%;
  line-height: 18px;
  background-color: var(--base-color);
  color: var(--second-color);
}

.avatar {
  width: 260px;
  height: 260px;
  background-color: var(--yellow-color);
  border-radius: 50%;
  position: relative;
  display: flex;
  margin: 10px auto 80px auto;
}

.avatar-image {
  background-image: url(./../components/images/new_photo.jpg);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  margin: auto;
}

.soft,
.contacts,
.lang {
  margin-top: 30px;
  margin-left: 15px;
}

.soft__title,
.contacts__title,
.lang__title {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--yellow-color);
  color: var(--second-color);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
}

.soft-list,
.contacts-list,
.lang-list {
  font-size: 14px;
  margin-left: 10px;
  padding: 20px 0 10px 0;
  line-height: 14px;
  list-style: none;
}

.soft-item {
  margin-bottom: 5px;
  line-height: 18px;
  display: flex;
  gap: 10px;
  color: var(--second-color);
}

.contacts-list {
  list-style: none;
}

.contacts-upper,
.contacts-info {
  height: 30px;
}

.contacts-upper {
  display: flex;
}

.contacts-upper-square {
  width: 40px;
  height: 100%;
  background-color: var(--yellow-color);
}

.contacts-upper__title {
  padding-left: 5%;
  width: 100%;
  height: 30px;
  background-color: var(--shadow-color);
  color: var(--second-color);
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

.contacts-info-link {
  text-decoration: none;
  height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (hover: hover) {
  .contacts-info-link:hover {
    text-decoration: underline;
    color: var(--yellow-color);
  }

  .contacts-info-link:hover .contacts-info-text {
    color: var(--yellow-color);
  }
}

@media (hover: none) {
  .contacts-info-link:active {
    text-decoration: underline;
    color: var(--yellow-color);
  }

  .contacts-info-link:active .contacts-info-text {
    color: var(--yellow-color);
  }
}

.contacts-info-image {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.image_1 {
  background-image: url(./../components/images/location.png);
}

.image_2 {
  background-image: url(./../components/images/linkedin-logo.png);
}

.image_3 {
  background-image: url(./../components/images/github-sign.png);
}

.image_4 {
  background-image: url(./../components/images/phone-call.png);
}

.image_5 {
  background-image: url(./../components/images/email.png);
}

.contacts-info-text {
  display: flex;
  align-items: center;
  color: var(--yellow-color);
}

.cv-right {
  padding: 10px 0 40px 0;
  width: 72%;
  background-color: var(--second-color);
  border-left: 2px solid var(--yellow-color);
}

.header {
  margin: 7% 0 5% 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  position: relative;
  z-index: 10;
}

.header__title {
  margin-left: 30px;
  font-size: 42px;
  letter-spacing: 3px;
}

.header__name span {
  font-weight: bold;
}

.header-prof {
  margin-left: 30px;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 3.4px;
}

.header-background {
  width: 100%;
  height: 70px;
  background-color: var(--yellow-color);
  position: absolute;
  top: 40px;
  z-index: -1;
}

.skills,
.about,
.education,
.work {
  padding: 20px 40px;
}

.about__title,
.skills__title,
.education__title,
.work__title {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--base-color);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
}

.skills-item {
  margin-bottom: 5px;
  line-height: 18px;
  display: flex;
  gap: 10px;
}

.skills-list,
.about-text,
.education-list,
.work-text {
  padding-top: 30px;
  font-size: 14px;
  line-height: 22px;
  list-style: none;
}

.education-images {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.education-images__img {
  width: 150px;
  height: 100px;
}

.work-text {
  list-style: none;
}
